bukctf.tech {
    reverse_proxy ctfd:8000
}

lonchera.bukctf.tech {
    reverse_proxy lonchera:8080
}

secure-login.bukctf.tech {
    reverse_proxy secure-login:8080
}

portal-pagos.bukctf.tech {
    reverse_proxy portal-pagos:8080
}

facebuk.bukctf.tech {
    reverse_proxy facebuk:8080
}
